@page
@model ListaCursos.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>@Model.Course.Name</h1>

<form method="post">

    <input type="hidden" asp-for="@Model.Course.Id" />

    <div class="form-group">
        <label asp-for="Course.Name"></label>
        <input asp-for="Course.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Course.Description"></label>
        <textarea asp-for="Course.Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Course.Author"></label>
        <input asp-for="Course.Author" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Course.Uri"></label>
        <input asp-for="Course.Uri" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>

</form>

